*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    min-height: 100vh;
    background-image: url('../images/image.jpg');
    background-position: center;
    background-size: cover;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    font-size: 25px;
    font-weight: bold;
    color: black;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    display: inline-block;
    position: relative;
    background-color: rgb(124, 239, 147);
    border-radius: 10px;

}
header .navbar ul li a{
    padding: 15px;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.5s;
}
header .navbar ul li a:hover{
    background-color: blueviolet;
    border-radius: 10px;
}
header .navbar ul li ul{
    display: none;
    position: absolute;
    left: 0;
    width: 160px;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid #000;
}
header .navbar ul li ul li ul{
    left: 160px;
    top: 0;
}
header .navbar ul li:hover>ul,
header .navbar ul li:focus-within>lu{
    display: initial;
}

/* menubar css start */
#menubar{
    display: none;
}
header label{
    display: none;
    color: #000;
    cursor: pointer;
    font-size: 20px;
}

/* media query css start */

@media(max-width: 991px){
    
    header label{
        display: initial;
    }
    header .navbar{
        display: none;
    }
}

/* media query css end */