.h-50{height: 50px !important;}
.h-100{height: 100px !important;}
.h-150{height: 150px !important;}
.h-200{height: 200px !important;}
.h-250{height: 250px !important;}
.h-300{height: 300px !important;}
.h-350{height: 350px !important;}
.h-400{height: 400px !important;}
.h-500{height: 500px !important;}
.h-80{height: 80px !important;}
.h-600{height: 600px !important;}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif !important;
}
header{
    margin: 0px !important;

}
.icon-link{
    text-align: right !important;
    font-size: 20px;
    gap: 1.375rem;
    color: #4d82d8;
    
}
.benefit{
    padding: 4rem;
    background: hsla(0,0%,95.7%,.68);
}
.benefit .card{
    position: relative;
    overflow: hidden;
}
 .rounded-10{
    border-radius: 10px;
}
.benefit .card-body h3,
.benefit .card-body .btn{
    margin-top: 25px;
    margin-left: 35px;
}
.benefit .card-body ul li {
    font-family: unset;
    font-weight: 600;
    position: relative;
    padding: .25rem 1.5rem;
    list-style: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
.benefit .becomeApply{
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.benefit .becomeApply h1{
    font-size: 3rem;
}
.benefit .becomeApply .become span{
    color: aqua;
}
.benefit .becomeApply .btn-apply{
    height: 40px;
    width: 150px;
    margin-top: 10%;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    color: white;
    margin-right: 4rem;
    background: rgb(245, 113, 113);
}
.benefit .becomeApply a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* animate & shape css srart */

.benefit .card .shape{
    width: 40%;
    margin-top: 49px;
    height: 81%;
    right: -191px;
    border-radius: 80px;
    transform: rotate(45deg);
    background: #007f3d;
    opacity: .15;
    position: absolute;
}
 

.benefit .card .bubble1{
    width: 30px;
    height: 30px;
    background: #007f3d;
    opacity: .15;
    position: absolute;
    border-radius: 50%;
    animation: bubble1 15s infinite;
}
.benefit .card .bubble2{
    width: 50px;
    height: 50px;
    background: #007f3d;
    opacity: .15;
    position: absolute;
    border-radius: 50%;
    animation: bubble2 20s infinite;
}
.benefit .card .bubble3{
    width: 70px;
    height: 70px;
    background: #007f3d;
    opacity: .15;
    position: absolute;
    border-radius: 50%;
    animation: bubble3 15s infinite;
}

@-webkit-keyframes bubble1{
    0%{ top:0%; left:0%; transform: translateX(0%) }
    30%{ top:50%; left:70%; transform: translateX(50%);}
    50%{ top:0%;left:50%; transform: translateX(20%); }
    70%{ top:100%;left:30%; transform: translateX(70%); }
    90%{ top:50%; left:0%; transform: translateX(20%); }
    100%{ bottom:100%; transform: translateX(20%); }
} 
@-webkit-keyframes bubble2{
    0%{ top:0%; left:100%; transform: translateX(0%); }
    30%{ top:20%; left:50%; transform: translateX(50%); }
    50%{ top:80%; left:10%; transform: translateX(10%); }
    70%{ top:100%; left:0%; transform: translateX(40%); }
    90%{ top:50%; left:0%; transform: translateX(80%); }
    100%{left:0%; transform: translateX(30%);}
} 

@-webkit-keyframes bubble3{
    0%{ left:0%; top:0%; transform: translateX(0%); }
    30%{ top:10%; left:40%; transform: translateX(50%); }
    50%{ top:80%; left:50%; transform: translateX(10%); }
    70%{ top:0%; left:30%; transform: translateX(40%); }
    90%{ top:80%; left:50%; transform: translateX(80%); }
    100%{left:100%; transform: translateX(30%);}
} 

/* animate & shape end */

.services .service-head{
    padding: 2rem;
    position: relative;
    height: 500px;
    background: rgb(239, 233, 233);

}
.services .service-tap .title{
    margin-left: 43%;
    top: 15px;
    margin-bottom: 4px;
    font-weight: 600;
    position: absolute;
    
}
.services .service-tap .nav{
    list-style: none;
    left: 46%;
    margin:5% 0%;
    position: absolute;
}

.services ul li.nav-item {
    padding: 5px;
    border: 1px solid #04080a;
}
.link-1{
    background: #75d5f1;
}

.services .service-tap .shape{
    width: 15%;
    height: 30%;
    margin-top:-120px;
    right: 4rem;
    transform: rotate(45deg);
    background: #007f3d;
    opacity: .15;
    position: absolute;
}
@media(max-width:576px){
    .icon-link{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .benefit .card-body{
        display: block;
    }

}